
<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav #drawer class="sidenav" fixedInViewport-->
<!--               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--               [mode]="(isHandset$ | async) ? 'over' : 'side'"-->
<!--               [opened]="(isHandset$ | async) === false">-->
<!--    <mat-toolbar>خانه</mat-toolbar>-->
<!--    <mat-nav-list>-->
<!--      <a style="font-family: IranSans , sans-serif;" mat-list-item routerLink="/login">ورود</a>-->
<!--      <a style="font-family: IranSans , sans-serif;" mat-list-item routerLink="/signup">ثبت نام</a>-->
<!--      <a style="font-family: IranSans , sans-serif;" mat-list-item routerLink="/training">تمرین</a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <mat-toolbar class="bg-info" color="primary">-->
<!--      @if (isHandset$ | async) {-->
<!--        <button-->
<!--          type="button"-->
<!--          aria-label="Toggle sidenav"-->
<!--          mat-icon-button-->
<!--          (click)="drawer.toggle()">-->
<!--          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--        </button>-->
<!--      }-->
<!--      <span>فیتنس در خانه</span>-->
<!--    </mat-toolbar>-->
<!--    <router-outlet></router-outlet>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->


