/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: IranSans;
  src: url('../public/IRANSansWeb(FaNum).woff2');
}

.fonta , * , html , body ,mat-sidenav-container , mat-sidenav ,mat-sidenav-content{
  font-family: IranSans , sans-serif
}
